<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>특허상세정보</title>
  </head>
  <body>>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


{% for detail in detail_output %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">인천대학교 특허정보검색서비스</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>

    </ul>
  </div>
</nav>


</ul>


<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">상세정보</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   <tr>
      <th scope="row">사진</th>
      <td><div align="center">
          <a href="/static/images/kiprisinu_image/{{detail.3}}.jpg"><img src="/static/images/kiprisinu_image/{{detail.3}}.jpg", width="500", height="500" style="border : 10 salmon" align="center"></a>
      </td>

    </tr>
    <tr>
      <th scope="row">특허명</th>
      <td>{{detail.0}}</td>

    </tr>
    <tr>
      <th scope="row">IPC</th>
      <td> {{detail.1}}</td>

    </tr>
    <tr>
      <th scope="row">출원인</th>
      <td colspan="2">{{detail.2}}</td>
    </tr>
  <tr>
      <th scope="row">출원번호</th>
      <td colspan="2">{{detail.3}}</td>
    </tr>
  <tr>
      <th scope="row">출원일자</th>
      <td colspan="2">{{detail.4}}</td>
    </tr>
  <tr>
      <th scope="row">등록번호</th>
      <td colspan="2">{{detail.5}}</td>
    </tr>
  <tr>
      <th scope="row">등록일자</th>
      <td colspan="2">{{detail.6}}</td>
    </tr>
  <tr>
      <th scope="row">공개번호</th>
      <td colspan="2">{{detail.7}}</td>
    </tr>
    <tr>
      <th scope="row">공개일자</th>
      <td colspan="2">{{detail.8}}</td>
    </tr>
  <tr>
      <th scope="row">대리인</th>
      <td colspan="2">{{detail.9}}</td>
    </tr>
  <tr>
      <th scope="row">발명가</th>
      <td colspan="2">{{detail.10}}</td>
    </tr>
  <tr>
      <th scope="row">설명</th>
      <td colspan="2">{{detail.11}}</td>
    </tr>
  </tbody>

</table>


{% endfor %}

</body>
</html>